*{
  box-sizing: border-box;
  margin: 0;
}
body{
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color:darkorange;  
}
.conteudo{
  max-width: 70vw;
  font-size: 2rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
}
.input{
 border-radius: 12px; 
 padding: 1rem;
 margin: auto;
}

input{
  width: 100%;
  text-align: center;
  height: 3rem;
  font-size: 2rem;
  border: 2px solid;
  flex-wrap: wrap;
}
button{
  background-color: rgb(60, 60, 248);
  width: 30%;
  min-width: 90px;
  
}
.input:hover{
  background-color: lightgray
}